.cart {
    min-height: 600px;
    padding: 20px;
    text-align: center;
    background-color: #00b85f;
    justify-content: center;
    color: white;
    border: #00d56e;
    border-width: thick;
    border-style: solid;
}

.cart-back {
    position: absolute;
    top: 70px;
    left: 80px;
    width: 100px;
    color: white;
    background-color: #00d56e;
    border-color: transparent;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.cart-back:hover {
    background-color: #00fb82;
}

.cart-title {
    font-size: 40px;
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-item {
    width: 250px;
    background-color: #00d56e;
    padding: 25px;
    margin: 30px;
}

.cart-movie {
    display: block;
    font-size: 30px;
    line-height: 40px;
}

.cart-button {
    width: 100%;
    color: white;
    background-color: #00c264;
    border-color: transparent;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.cart-button:hover {
    background-color: #00fb82;
}