.feature-title {
    position: relative;
    width: 100vw;
    min-width: 600px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.feature {
    position: relative;
    width: 100vw;
    min-width: 600px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.feature-flex {
    margin: 20px;
}

.feature-image {
    width: 250px;
}