.footer {
    width: 100%;
    min-width: 600px;
    padding: 35px 0;
    background-color: black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-grid {
    color: white;
    justify-self: center;
    font-size: 15px;
    line-height: 1.6;
}

a {
    display: block;
}

a:link {
    color: rgb(217, 217, 217);
}

a:hover {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(139, 139, 139);
}