.hero {
    position: relative;
    height: 575px;
    left: 0;
    top: 0;
    width: 100vw;
    min-width: 600px;
}

#hero-image {
    position: absolute;
    width: 1540px;
    right: 0;
}

.shadow {
    position: absolute;
    min-width: 600px;
    width: 100vw;
    height: 575px;
    background-color: black;
    background-image: linear-gradient(black, rgb(35, 35, 35), black);
    opacity: 0.9;
}

.hero-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-box {
    position: absolute;
    top: 125px;
    padding: 10px;
    width: 40%;
    min-width: 400px;
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
    line-height: 1.8;
}

.title-text {
    padding: 0 0 15px;
}

.buttons {
    position: absolute;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 150px;
    height: 30px;
    background-color: #00d76f;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.buttons:hover {
    background-color: #018746;
}

.signup {
    left: 195px;
}