.register-box{
    display: flex;
    position: absolute;
    color:white;
    top: 50%;
    transform: translate(0, -50%);
    width: 350px;
    background-color:rgb(47, 47, 47);
    padding: 25px 50px 45px;
    line-height: 2;
    border-radius: 10px;
}